@font-face{
  font-family: "sf-bold";
  src: url(../../assets/fonts/SF-Pro-Display-Bold.otf);
}

.header {
  grid-area: h;
  background-color: #f3673b;
  padding: 16px;
  color: white;
}
.appName {
  font-size: 40px;
  font-family: "sf-bold";
}
.loginBlock {
  float: right;
}
