.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.dialogsItems {
  padding: 10px;
}
/* .dialogsItems .dialog {
} */
.dialogsItems .active {
  color: red;
}
.dialogsItems img {
  width: 50px;
  border-radius: 50px;
}
.messages {
  padding: 10px;
}

