.nav {
  grid-area: n;
  width: 100%;
  background-color: #333333;
  /* padding: 16px; */
}
.item {
  border-bottom: 1px solid black;
  padding: 10px 20px;
}
.nav a{
  color: gray;
  text-decoration: none;
}
a.active .item{
  color: white;
  background-color: black;
}
.sideBar{
  text-align: center;
  display: flex;
  flex-direction: column;
}
.sideBarItems {
  text-align: center;
  display: flex;
  flex-direction: row;
}
.sideBarItem {
  display: flex;
  margin: 5px;
  flex-basis: 33%;
  flex-direction: column;
}
.sideBarItem img {
  width: 50px;
  border-radius: 50px;
}
