@font-face{
  font-family: "sf-regular";
  src: url(./assets/fonts/SF-Pro-Display-Regular.otf);
}

.app-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 60px, 1fr;
  grid-template-columns: 200px;
  width: 1200px;
  font-family: 'sf-regular';
  /* font-size: 50px; */
}

.app-wrapper-content {
  grid-area: c;
  background-color: rgb(95, 165, 162);
}
